<%= render "shared/inner_navbar" %>
<div class="p-3 ">
  <h4 class="mt-3 px-3">Favorite Notes</h4>
  <% if @notes.present? && @notes.any? %>
  <%= render partial: "notes/notes_grid",
             locals: { notes: @notes, empty_message: "" } %>
    <% else %>
    <p class="text-muted px-3">No pinned notes yet!</p>
  <%end %>
</div>
