<%= render "shared/inner_navbar" %>
<div class="p-3 ">
  <h4 class="mt-3 px-3">Pinned</h4>
  <%= render partial: "notes/notes_grid",
             locals: { notes: @notes, empty_message: "" } %>
</div>
