<div class="container-sm mx-auto">
  <h4 class="mt-3">All Notes</h4>
  <div class="mb-3">
    <%= link_to new_note_path, class: "btn btn-teal btn-sm" do %>
      <i class="bi bi-pencil-square me-1"></i>
      Take a note ...
    <% end %>
  </div>
  <%= render partial: "notes/notes_grid",
             locals: { notes: @notes, empty_message: "" } %>
</div>
